body
{
   /* background-color: cornflowerblue;*/
    background: url(Imagens/fundo2.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 0px;
    margin: 0px;
}
#icones
{
    float: right;
    position: static;
    background-color: transparent;
    width: 25%;
    height: 100%;
    box-shadow:16px 0px 16px 16px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.icone
{
    width: 65%;
    height: 18%;
    position: relative;
    left:20%;
    margin-top: 10%;
}
.icone:hover
{
    transform: scale(1.1);
}

#menu
{
    float: left;
    position: relative;
    background: linear-gradient(45deg, #6A5ACD, #87CEEB);
    width: 5%;
    height: 20%;
    border-radius: 0 20pt 20pt 0;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    z-index: 1;
}

.titulo
{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: Agency FB;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}
#login
{
    display: none;
    text-align: center;
}

.labels
{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: Agency FB;
    font-weight: bold;
}
#imgBanner
{
    position: relative;
    top: 20%;
    left: 2%;
    width: 25%;
    height: auto;
}
#introducao
{
    position: absolute;
    top: 10%;
    left: 35%;
}
.textos
{
    color: orange;
    font-family: Agency FB;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

.textos font
{
    color: white;
}

.button 
{
    background-color: #4CAF50; 
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Agency FB;
    font-size: 20px;
    font-weight: bold;
    
}
.button:hover{
    background-color: #4682B4;
    color: white;
}
#cadastro
{
    background-color: #008B8B;
    border-radius: 20pt;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
    width: 18%;
    height:25%;
    position: fixed;
    top: calc(50% - 25%);
    left: 41%;
    padding: 2%;
}

#btnLogin{
    cursor: pointer;
}

#tabelaCadastro
{
    font-family: Agency FB;
    font-size: 20px;
    font-weight: bold;
    color:  white;
}
.clicaLabel
{
    cursor: pointer;
}

table#tabelaLogin 
{
    margin-left: 10%;
}

input
{
    border-radius: 20pt;
}
#areaCorpo
{
    width: 55%;
    height: 50%;
    margin: 1%;
    position: absolute;
    top: 200px;
    left: 200px;
    background: white;
    border-radius: 20pt;
    border: black 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#txtQuiz
{
    text-decoration: none;
}
#areaQuiz
{
    background-color: white;
    border-radius: 20pt;
    width: 25%;
    padding-top: 30px;  
    padding-left: 50px;
    padding-bottom: 30px;
    position: relative;
    left: 36%;
}
#paginaQuiz
{
    text-align: center;
}
.inputTexto
{
    padding-left: 10px;
}

#orgao
{
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    height: 50%;
    position: fixed;
    top: 25%;
    left: 25%;
    display: none;
    
}
.plan
{
    font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
    text-shadow: 0 1px rgba(255,255,255,.8);
    background: #fff;
    border: 1px solid #ddd;
    color: #333;
    padding: 20px;
    width: 180px;
    position: relative;
    bottom: 75%;
    left: 35%;
    text-align: center;
    width: 100px;
    height: 100px;
}
table#infoSistema
{
    position: absolute;
    bottom: 8%;
    left: 25%;
}

#infoSistema td
{
    padding-bottom: 20px;
}
.plan h3 {
    font-size: 20px;
    font-weight: normal;
    padding: 20px;
    margin: -20px -20px 50px -20px;
    background-color: #eee;
    background-image: linear-gradient(#fff,#eee);
}
.plan h3 span {
    display: block;
    font: bold 25px/100px Georgia, Serif;
    color: #777;
    background: #fff;
    border: 5px solid #fff;
    height: 100px;
    width: 100px;
    margin: 10px auto -65px;
    border-radius: 100px;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

h3 span:hover
{
    background-color: A5FFB5;
    cursor: pointer;
}
#imgOrgao
{
    width: 420px;
    height: 400px;
}
#campoTexto
{
    position: absolute;
    top: 0%;
    left: 50%;
}
.iconeOrgao
{
    position: relative;
    top: 10px;
}
#btnSair
{
    position: absolute;
    top: 0%;
    left: 93%;
    border-radius: 100pt;
    padding: 20px;
}
