body
{
       
}

header#cabecalho
{
    width: 100%;
    height: 20%;
    background: #00FF7F;
    border-radius: 20pt;
}
header#cabecalho img
{
    position: relative;
    top: 5%;
    left: 4%;
}

.icone
{
    width: 10%;
    height: 90%;
}