aside#icones
{
    float: right;
    position: relative;
    background-color: darkseagreen;
    width: 20%;
    height: auto;
    margin-bottom: 1%;
    border-radius: 20pt;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.icone
{
    width: 60%;
    height: 20%;
    position: relative;
    left:20%;
}