body{
    background: url(Imagens/fundo.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#areaDeAlteracao
{
    position: fixed;
    top: 10%;
    background: white;
    border-radius: 20pt;
    padding: 1%;
}
#banner
{
    size: 100% 100%;
}