body{
    background: url(Imagens/fundo.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header#cabecario
{
    background-color: orange;
    font-size: 64px;
    font-family: Agency FB;
    font-weight: bold;
}

.quadro
{
    background-color: white;
    padding: 1%;
    border-radius: 20pt;    
    width: 70%;
    margin: 0 auto;
    vertical-align: middle;
}

section.quadro div
{
    margin-bottom: 1%;
}

.perguntas
{
    font-weight: bold;
    font-family: Agency FB;
    font-size: 25px;
}

#frmQuiz label span
{
    font-size: 20px;
}
#btnSubmit
{
    position: relative;
    width: calc(100% - 1% );
}

.titulo
{
    font-family: Agency FB;
    font-weight: bold;
    color: orange;
}
#mainConfig
{
    margin-bottom: 3.2%;
}

.btnConfiguracoes
{
    margin-bottom: 2%;
}

#cabecalho{
  text-align: center;
  font-family: Agency FB;
  font-size: 32px;
}

#texto{
    text-align: left;
    font-family: Agency FB;
    font-size: 22.5px;
}

#divSobreNos{
    margin-bottom: 0.7%;
}

#informativo {
    width: 150%;
}

#enviarInformacoes
{
	border-radius: 73.5pt;
	height: 80%;
	width: 45%;
	background-color: #C6D9F1 ;
}
#imgRanking{
 background: url('Imagens/InformativoRanking.png') no-repeat;
 background-size: 100% 100%;
 height: 85%;
}

#rodapeimgRanking{
	height: 20px;
	background-color: #C6D9F1 ;
}
#pontuacao{
    position: relative;
    top: 50%;
}

#frmCadastro
{
    margin-bottom: 6.2%;
}
#frmQuiz p
{
    padding-bottom: 15px;
}

#excluirConta
{
	border-radius: 73.5pt;
	height: 80%;
	width: 45%;
	background-color: #C6D9F1 ;
}
#imagemExcluir{
 background: url('Imagens/InformativoExcluirConta.png') no-repeat;
 background-size: 100% 100%;
 height: 85%;
}
#rodapeImgExcluir{
	height: 20px;
	background-color: #C6D9F1 ;
}
#seletor{
	margin-top: 5%;
}

.btnModal
{
    position: relative;
    right: 10%;
}
